h1 {
    text-align: center;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.notdone {
    color: crimson;
    cursor: pointer;
}

.done {
    color: seagreen;
    cursor: pointer;
}

.save {
    display: none;
}

.cancel {
    display: none;
}

.errormsg {
    background: crimson;
    color: whitesmoke;
    width: 204px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    text-align: center;
}

#addinput {
    width: 200px;
}