.notdone {
    color: crimson;
    cursor: pointer;
}

.done {
    color: seagreen;
    cursor: pointer;
}

.save {
    display: none;
}

.cancel {
    display: none;
}

.errormsg {
    background: crimson;
    color: whitesmoke;
}