body {
    color: #fff;
    background: #000;
}

h1 {
    text-align: center;
    font-size: 50px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th {
    font-size: 30px;
    height: 60px;
}

td {
    font-size: 20px;
    height: 40px;

}

tr:hover {
    color: #eee;
}

.notdone {
    color: orangered;
    cursor: pointer;
}

.done {
    color: lawngreen;
    cursor: pointer;
}

.save {
    display: none;
}

.cancel {
    display: none;
}

.errormsg {
    background: crimson;
    color: whitesmoke;
    width: 204px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    text-align: center;
}

#addinput {
    width: 200px;
}